@use "/src/_import.scss" as *;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@media screen and (min-width: $min-width-desktop) {
  #head {
    width: 100%;
    height: 90px;
    border-image-slice: fill;
    display: flex;
    justify-content: space-around;
    border-bottom-style: groove;
    border-bottom-color: $secondary-text-color;

    .logo {
      background-repeat: no-repeat;
      background-size: contain;
      width: 200px;
      height: 80px;
    }

    nav {
      align-self: center;
      visibility: visible;
      height: 90px;

      .divnav {
        .categ {
          display: none;
        }
      }

      ul {

        li:nth-of-type(1),
        li:nth-of-type(2),
        li:nth-of-type(8) {
          color: $secondary-text-color;
        }
      }
    }

    ul,
    li,
    a {
      box-sizing: border border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 13px;
      height: 90px;
      text-decoration: none;
    }

    li {
      height: 70px;
    }

    nav ul li :hover {
      text-decoration: underline;
      font-weight: bold;
    }

    #smallscr {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: $min-width-desktop) {

  #head {
    width: 100%;
    height: 90px;
    background-color: $fairy-color;
    border-image-slice: fill;
    display: flex;
    justify-content: center;
    border-bottom-style: groove;
    border-bottom-color: $secondary-text-color;

    .logo {
      background-image: image-set("/assets/images/sugar_rush.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 147px;
      height: 86px;
    }

    .desktop {
      display: none;
    }
  }

  nav {
    align-self: center;
  }

  ul,
  li,
  a {
    box-sizing: border border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    text-decoration: none;
  }

  a {
    height: 3rem;
    background-color: #FECEE9;
    text-decoration: none;
    align-items: center;
    gap: 12px;
    height: 4rem;
  }

  li {
    height: 70px;
    border: 1px solid;
  }

  .divnav {
    position: fixed;
    bottom: -1px;
    left: 0;
    background: #FECEE9;
    width: 100%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(8) {
      color: $secondary-text-color;
    }
  }

  #accueil {
    background-image: image-set("/assets/images/home.png");
    background-repeat: no-repeat;
    color: transparent;
  }

  #login {
    background-image: image-set("/assets/images/user.png");
    background-repeat: no-repeat;
    color: transparent;
  }
}