<header id="head">
  <div class="logo" [routerLink]="APP_ROUTES.index"></div>
  <div>
    <nav>
      <ul class="divnav">
        <li><a id="accueil" [routerLink]="APP_ROUTES.index">Accueil</a></li>
        <li><a class="categ" id="categ2" [routerLink]="APP_ROUTES.categories">Catégories</a></li>

        <li *ngFor="let category of categories" class="desktop">
          <a [ngClass]="category.slug+'-color'" [routerLink]="APP_ROUTES.categories + '/' + category.slug"
            [queryParams]="{id: category.id, name:category.name, slug:category.slug}">
            {{category.name}}
          </a>
        </li>
        <li *ngIf="user | async" [matMenuTriggerFor]="menu"><a id="login">{{(user | async)?.userStringName}}<i
              class="fa fa-user" aria-hidden="true"></i></a>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="APP_ROUTES.detailUser">Mon compte</button>
            <button *ngIf="checkAdmin((user | async)?.authorities)" mat-menu-item [routerLink]="APP_ROUTES.creation">Créer un article</button>
            <button mat-menu-item [routerLink]="APP_ROUTES.sugarMeter">Sucro-mètre</button>
            <button mat-menu-item (click)="logout()">Déconnexion</button>
          </mat-menu>
        </li>
        <li *ngIf="!(user | async)"><a id="login" (click)="openModal()">Connexion<i class="fa fa-user"
              aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </div>
</header>