@use "/src/_import.scss" as *;

@media screen and (min-width: $min-width-desktop) {
  #foot {
    height: 40px;
    border-top-style: groove;
    border-top-color: $secondary-text-color;

    #marquee {
      color: $secondary-text-color;
      margin-top: $main-border;
      padding-bottom: $main-border;
      text-align: center;
      font-style: italic;
      visibility: visible;
    }

    #smallscr {
      visibility: hidden;
    }

    ul {
      text-align: center;
      margin-top: $main-border;
    }

    li {
      display: inline-block;
    }

    .about-us{
      color : $secondary-text-color;
    }

  }





}

@media screen and (max-width: $min-width-desktop) {

  #foot {
    display: none;



    background-color: #FECEE9;

    #marquee {
      visibility: hidden;
    }


  }








}