@use "/src/_import.scss" as *;

@media screen and (min-width: $min-width-desktop) {
  #foot {
    background-color: #FECEE9;
    height: 20%;

    #marquee {


      background-color: #FECEE9;
      color: $secondary-text-color;
      text-align: center;
      visibility: visible;
    }

    #smallscr {
      visibility: hidden;
    }

  }





}

@media screen and (max-width: $min-width-desktop) {

  #foot {
    display: none;



    background-color: #FECEE9;

    #marquee {
      visibility: hidden;
    }


  }








}