<footer id="foot">
    <ul class="list-footer">
        <li *ngFor="let category of categories" class="desktop">
            <a [ngClass]="category.slug+'-color'" [routerLink]="APP_ROUTES.categories + '/' + category.slug"
                [queryParams]="{id: category.id, name:category.name, slug:category.slug}">
                {{category.name}}
            </a><span>•&nbsp;</span>
        </li>

        <li class="about-us">
            <a routerLink="/about-us">A propos</a>
        </li>
        <!-- Deconnection temporaire-->
        <li (click)="deleteToken()">&nbsp;- deconection</li>
    </ul>
    <div id="marquee">Sugar Rush - 2023 - L'information décryptée sur le sucre </div>

</footer>