<h1 class="main-title">Sugar Rush : Votre actu sucrée au quotidien !</h1>
<div *ngIf="mainArticle" class="top">
    <app-article-type-main [article]="mainArticle" class="main"></app-article-type-main>
    <div class="side">
        <h2>Plus de <span class="{{mainArticle.category.slug}}-color">{{mainArticle.category.name}}</span></h2>
        <app-article-type-side [article]="article" *ngFor="let article of articlesSide" ></app-article-type-side>
    </div>
</div>
<div infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()" *ngIf="articles" class="small">
    <app-article-type-small class="article-small" *ngFor="let article of articles; let i = index" [article]="article" [pos]="(i % 3) + 1"></app-article-type-small>
</div>