@use "/src/_import.scss" as *;

.body {
  background-color: $main-background-color;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;

  h2 {
    font-size: 1.5rem;
    margin-bottom: $small-border;
    color: $category-food-color;
  }

  p {
    line-height: 1.5;
    margin-bottom: $small-border;
    margin-top: $small-border;
  }

  ol {
    list-style: none;
  }

  li {
    margin-top: $small-border;
    margin-bottom: $big-border;
    padding-left: $big-border;
  }
}