<section class="meter-inputs-section">
  <div class="meter-inputs">
    <ul class="meter-plus">
      <li class="btn-plus">+1</li>
      <li class="btn-plus">+2</li>
      <li class="btn-plus">+3</li>
      <li class="btn-plus">+5</li>
      <li class="btn-plus">+10</li>
    </ul>

    <ul class="meter-minus">
      <li class="btn-minus">-1</li>
      <li class="btn-minus">-2</li>
      <li class="btn-minus">-3</li>
      <li class="btn-minus">-5</li>
      <li class="btn-minus">-10</li>
    </ul>
  </div>
</section>