<section class="meter-inputs-section">
  <div class="meter-inputs">
    <ul class="meter-plus">
      <li class="btn-plus" *ngFor="let amount of sugarDataAmounts" (click)="createSugarData(amount)">+{{amount}}</li>
    </ul>

    <ul class="meter-minus">
      <li class="btn-minus" *ngFor="let amount of sugarDataAmounts" (click)="createSugarData(amount*-1)">-{{amount}}
      </li>
    </ul>
  </div>
</section>
<!-- click function to add the sugar, ngfor in li with an array [123510] which returns the data on click X*-1 -->