<header id="head">
    <a [routerLink]="APP_ROUTES.index">
        <div class="logo">
        </div>
    </a>
    <div>
        <nav>
            <ul class="divnav">
                <li><a [routerLink]="APP_ROUTES.index">Accueil</a></li>
                <li><a class="categ" [routerLink]="">Catégories</a></li>
                <li><a id="fun" [routerLink]="">Hav'Fun</a></li>
                <li><a id="sport" [routerLink]="">NRgy</a></li>
                <li><a id="carie" [routerLink]="">Carie</a></li>
                <li><a id="miam" [routerLink]="">Miam</a></li>
                <li><a id="money" [routerLink]="">Ça coute bonbon</a></li>
                <li><a id="login" [routerLink]="">Connexion</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>