@use "/src/_import.scss" as *;

.section {
  margin-top: $big-border;

  h2 {
    padding: $small-border;
    margin-bottom: $small-border;
    color: white;
  }

  .article-comment-scroll {
    max-height: 324px;
    overflow-y: auto;
  }

  .comment-form {
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;

    .textArea {
      width: 100%;
      border: none;
      border: 1px solid $secondary-text-color;
      border-radius: $small-border;
      resize: vertical;
      min-height: 100px;
      resize: none;
    }

    .submitButton {
      color: white;
      padding: 10px 20px;
      margin-top: $small-border;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}

.connect-link {
  text-decoration: underline;
  cursor: pointer;
}