@use "/src/_import.scss" as *;

#main-content {
  margin: $big-border;
  text-align: justify;
}

@media screen and (min-width: $min-width-desktop) {
  #main-content {
    .article-bottom {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap:$main-border;
    }
  }
}