@use "/src/_import.scss" as *;

.article {
  background-color: $main-background-color;
  padding-left: $big-border;
  padding-right: $big-border;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  h1 {
    font-size: 28px;
    margin-bottom: $small-border;
  }

  .title-categories {
    display: flex;
    margin-bottom: $small-border;
    line-height: $main-line-height;
    font-size: 16px;

    ::first-letter {
      font-family: "Glam-queen";
      font-size: 32px;
      font-weight: bold;
    }
  }

  .published {
    font-size: 12px;
  }
}

.publication-image {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}


@media screen and (min-width: $min-width-desktop) {

  .article {
    width: 100%;
    padding-left: $big-border;
    padding-right: $big-border;

  }

  .publication-image {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    padding-left: $big-border;
    padding-right: $big-border;
    margin-bottom: $big-border;
  }
}