@use "/src/styles.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    background-color: $main-background-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article h2 {
    font-size: 24px;
    color: $main-text-color;
    margin-bottom: 1rem;
}

.article .categories {
    display: flex;
    align-items: center;
}

.article .categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article .categories li {
    margin-right: 10px;
    font-size: 16px;
    color: $category-food-color;
}

.article .lead {
    margin-top: 10px;
    font-size: 14px;
    color: $main-text-color;
}

.article .author {
    margin-top: 10px;
    font-size: 14px;
    color: $main-text-color;
}

.article .publication-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

@media screen and (min-width: 1036px) {

    .article {
        width: 100%;
        max-width: 1036px;
        margin: 0 auto;
    }
}