<section class="title">
  <div class="article">
    <h1 [ngClass]="article.category.slug + '-color'">{{ article.title }}</h1>
    <div class="title-categories">
      <p>{{ article.leads }}</p>
    </div>
    <div>
      <p><span>{{ article.author.firstName | titlecase }}</span>&nbsp;<span>{{ article.author.lastName | titlecase }}</span></p>
      <p class="published">Publié: {{ article.publicationDate | date }} | Modifié: {{ article.modificationDate | date }}
      </p>
    </div>
  </div>
  <img class="publication-image" src="{{ article.publicationImage }}" alt="Publication Image">
</section>