<section class="title">
  <div class="article">
    <h1>{{ article.title }}</h1>
    <div class="title-categories">
      <ul>
        <li [ngClass]="article.category.name" [ngClass]="article.category.slug + '-color'">{{ article.category.name }}
        </li>
      </ul>
      <p>{{ article.leads }}</p>
    </div>
    <div>
      <p>{{ article.author.firstName | titlecase }} {{ article.author.lastName | titlecase }}</p>
      <p class="published">Publié: {{ article.publicationDate | date }} | Modifié: {{ article.modificationDate | date }}
      </p>
    </div>
  </div>
  <img class="publication-image" src="{{ article.publicationImage }}" alt="Publication Image">
</section>