<section id="categories">
  <div class="categories-category" *ngFor="let category of categories">
    <a class="categories-header" [id]="category.name + '-header'" routerLink="/categories/{{category.id}}">
      <h1 [id]="category.name + '-title'">{{category.name}}</h1>
      <p routerLink="/categories/{{category.id}}">Voir plus</p>
      <p><strong>></strong></p>
    </a>

    <div class="categories-3articles">
      <article></article>
      <article></article>
      <article></article>
    </div>
  </div>
</section>