@use "/src/styles.scss" as *;

#categories {
  margin: $big-border;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .categories-category {
    .categories-title {
      display: flex;
      align-items: center;
      background-color: $main-background-color;
      padding: $small-border;
      justify-content: space-between;
      text-decoration: none;

      h2 {
        font-family: "Glam-queen";
        font-size: 3em;
        margin: 0;
        padding-left: $small-border;
      }

      p {
        color: $secondary-text-color;
        font-size: 2em;
        padding: $small-border;
        margin: 0;
      }

      a {

        color: $secondary-text-color;
        font-size: $small-border;
        display: none;
      }

      a:hover {
        color: $fairy-color;
      }
    }
  }

  .categories-3articles {
    display: none;
  }

  #Food-title {
    color: $category-food-color;
  }

  #Health-title {
    color: $category-health-color;
  }

  #Economy-title {
    color: $category-economy-color;
  }

  #Sport-title {
    color: $category-sport-color;
  }

  #Fun-title {
    color: $category-fun-color;
  }
}