@use "/src/_import.scss" as *;

.meter-section-svg {
  height: 100%;

  .meter-svg {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    justify-items: center;
    padding-top: $big-border;
    padding-bottom: $big-border;
  }
}

@media only screen and (min-width: $min-width-desktop) and (orientation: landscape) {
  .meter-svg {
    padding: $big-border 5*$big-border;
  }
}
