@use "/src/_import.scss" as *;

.private-infos {
  .form-field-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    flex-direction: column;
    gap: 8px;

    .element {
      grid-column: span 2;
    }
  }

  .mat-form-field {
    width: 100%;
  }

  h2 {
    font-family: "Glam-queen";
    font-size: 3rem;
    color: $fairy-color;
    text-align: center;
    margin: $main-border 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .update-btn {
    @include buttons;
    margin: 0 auto;
    grid-column: 2/3;
  }

  .delete-btn {
    border: none;
    text-decoration: underline;
    background-color: $main-background-color;
    color: $category-economy-color;
    cursor: pointer;
    font-size: 12px;
  }
}