@use "/src/_import.scss" as *;

.main-title {
    margin-top: $big-border;
    margin-bottom: $big-border;
}

.top {
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: $big-border;
    .side {
        h2 {
            margin: 0;
            padding: $small-border;
        }
    }
}



.small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $main-border;
}