@use "/src/_import.scss" as *;

.main-type1 {
  height: 477px;
  background-size: cover;
  background-position: center;

  .blur {
    position: relative;
    bottom: -320px;
    min-height: 157px;

    backdrop-filter: blur(9.5px);

    .description {
      margin-left: 1rem;

      h2 {
        opacity: 0.6;
        font-weight: normal;
        font-size: 1.4rem;
        height: 50px;
      }

      h4 {
        font-size: 1.5rem;
      }

      time {
        opacity: 0.6;
        font-size: 0.8rem;
      }
    }
  }
}