@use "/src/_import.scss" as *;

@media (max-width: 768px) {

  .main-type1 {
    img {
      width: 100%;
    }

    .blur {
      position: relative;
      left: 0px;
      bottom: 97px;

      backdrop-filter: blur(9.5px);

      .description {
        margin-left: 1rem;

        h2 {
          opacity: 0.6;
          font-weight: normal;
          font-size: 1.1rem;
          height: 50px;
        }

        h4 {
          font-size: 1.2rem;
        }

        time {
          opacity: 0.6;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .main-type1 {
    margin-top: 3rem;

    img {
      width: 95%;
    }

    .blur {
      width: 95%;
      position: relative;
      left: 0px;
      bottom: 104px;
      backdrop-filter: blur(9.5px);

      .description {
        margin-left: 1rem;

        h2 {
          opacity: 0.6;
          font-weight: normal;
          font-size: 1.4rem;
          height: 50px;
        }

        h4 {
          font-size: 1.5rem;
        }

        time {
          opacity: 0.6;
          font-size: 0.8rem;
        }
      }
    }
  }
}