@use "/src/_import.scss" as *;

.top-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .stock {
    display: flex;
    gap: $main-border;
    margin: $main-border 0;
  }

  .search {
    margin: $main-border 0;
  }
}


#page-content {
  padding-bottom: 70px;
}

@media screen and (min-width: $min-width-desktop) {
  #page-content {
    width: 70%;
    margin-top: 20.1% !important;
    max-width: 71em;
    padding-left: $big-border;
    padding-right: $big-border;
    background-color: $main-background-color;
    overflow: initial;
    margin: 0 auto;
  }

  .stock {
    justify-content: flex-start;
  }

  #page-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/barbieAd.jpg');

    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
    background-position-y: 90px;

    background-repeat: no-repeat;

    background-color: $secondary-background-color;
  }
}