@use "/src/_import.scss" as *;

#category-main {
  margin: $big-border;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .category-header {
    border: 2px solid $secondary-text-color;
    border-radius: 10px;

    h1 {
      width: 100%;
      display: flex;
      align-items: center;
      padding: $small-border;
      justify-content: space-between;

      span:nth-of-type(1) {
        font-family: "Glam-queen";
        font-size: 2em;
        margin: 0;
        padding-left: $small-border;
      }
    }
  }

  .category-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $main-border;

    .category-article {
      margin-bottom: $main-border;
      /* CSS that we wish to keep and integrate later */
       transition: 0.3s ease-in-out;

       &:hover {
         box-shadow: 10px 10px 10px $secondary-text-color;
       }
    }
  }
}

@media screen and (min-width: $min-width-desktop) and (orientation: landscape) {
  #category-main {
    .category-header {
      h1 {
        padding-left: 5%;
      }
    }

    .category-articles {
      width: 100%;
      margin-top: $big-border;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $main-border;

      .category-article {
        height: fit-content;
        margin-bottom: $big-border;
      }
    }
  }
}