<div class="content">
    <div class="sub-content">
        <div class="menu">
            <label for="type" class="type">Type : </label>
            <select class="target" [(ngModel)]="subsection.typeContent">
                <option value="I">Introduction</option>
                <option value="P">Paragraphe</option>
                <option value="C">Conclusion</option>
            </select>
        </div>
        <i class="fa-solid fa-minus"  (click)="removeSubSection()"></i>
        <i class="fa-solid fa-plus" (click)="addSubSection()"></i>
    </div>
    <div class="title-text">
        <h1>Titre</h1>
        <input type="text" class="text target" placeholder="Titre" [(ngModel)]="subsection.title">
        <h1>Texte</h1>
        <textarea class="text textarea target" [(ngModel)]="subsection.content"></textarea>
    </div>
</div>
