@use "src/_import" as *;

.not-found-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  .link {
    background-color: $secondary-background-color;
    padding: 12px 16px;
    border-radius: 25px;
    color: $secondary-text-color;
    font-size: 1rem;
    transition: color 0.4s, background-color 0.4s;

    &:hover {
        background-color: $secondary-text-color;
        color: $secondary-background-color;
    }
        margin: 2rem 0 4rem;
    }
  .image {
    width: 200px;
  }
  .not-found-404 {
    display: grid;
    grid-template-columns: 33% 33% 33%
  }
}
