@use "src/_import" as *;

.not-found-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $big-border*2.5 0;

  .title {
    margin-top: $big-border;
    color: $secondary-text-color
  }

  .link {
    @include buttons;
    margin: $big-border 0;

    &:hover {
      border-color: $secondary-text-color;
    }
  }

  .image {
    width: 200px;

    &:nth-of-type(2) {
      width: 160px;
    }
  }

  .not-found-404 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:$min-width-desktop) {
  .not-found-section {
    margin:0;
    margin-top: $big-border;
  }
  .not-found-404 {
    flex-direction: column;
  }
}