<div class="container">
    <h1>À Propos de Nous</h1>

    <h2>Notre Mission</h2>
    <p>Sugar Rush a pour mission d'informer et de divertir les gens autour du thème du sucre dans
        divers domaines tels que l'économie, la santé, la gastronomie, le sport et les aspects ludiques. Nous voulons
        éveiller la curiosité des visiteurs en partageant des contenus riches, variés et accessibles.</p>

    <h2>Nos Valeurs</h2>
    <p>Nous sommes guidés par les valeurs d'entraide, de persévérance et d'amélioration continue. Nous croyons en la
        collaboration et en la construction d'un environnement où chaque membre de l'équipe peut s'épanouir et
        développer son plein potentiel. Notre objectif est de fournir des informations pertinentes, de qualité et de
        susciter la passion pour le monde sucré.</p>

    <h2>Notre Engagement envers Vous</h2>
    <p>Nous nous engageons à vous offrir une expérience agréable et enrichissante sur Sugar Rush. Nous sommes
        constamment à l'écoute de vos suggestions et de vos commentaires pour améliorer notre contenu et répondre à vos
        besoins. Votre satisfaction est notre priorité.</p>

    <h2>Rencontrez l'Équipe !</h2>
    <ul class="list">
        <app-person *ngFor="let person of team" [person]="person"></app-person>
    </ul>
    <div>
        <p>Ce site est un projet de formation. Veuillez noter que cette plateforme est destinée uniquement à des fins de démonstration et que tout les potentiels commentaires sont générés par les utilisateurs sans modération.</p>
    </div>
</div>