<section class="sugar-meter-box">

  <h2>Rappel: 1 carré de sucre = 4gr de sucre</h2>

  <div class="sugar-meter-children">
    <app-sugar-data></app-sugar-data>

    <app-sugar-inputs></app-sugar-inputs>
  </div>

  <p class="meter-reaction">
    <!-- Afficher une phrase random en fonction du niveau du sucrometre -->
    Hey le sucre c'est pas bien hein
  </p>

  <div class="profile-modification">
    <h2>Modifie ton Profil :</h2>
    <!-- Name, BirthDate and Logo -->
    <input type="text">
    <input type="text">
    <input type="text">
  </div>
</section>