@use "/src/_import.scss" as *;

.sugar-meter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary-text-color;

  h2 {
    text-align: center;
    font-size: 1rem;
    color: $secondary-text-color;
    padding-top: $main-border;
    padding-bottom: $main-border;
  }

  .sugar-meter-children {
    display: block;
    text-align: center;

    .meter-reaction {
      font-size: 1rem;
      display: block;
    }
  }

  .profile-modification {
    margin-top: $small-border;

    .example-tab-icon {
      width: 40px;
      height: 40px;
      background-color: $secondary-text-color;
    }
  }
}

.logo-list {
  display: flex;
  align-items: center;
}

.logo-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px; 
}

.logo-option input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
.logo-option::before {

}

.logo-option.selected div {
    background-color: blue !important;
}

@media only screen and (min-width: $min-width-desktop) and (max-width: 1024px) {
  .sugar-meter-box {

    h2 {}

    .sugar-meter-children {}

    .meter-reaction {}

    .profile-modification {}
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .sugar-meter-box {

    h2 {}

    .sugar-meter-children {}

    .meter-reaction {}

    .profile-modification {}
  }
}