@use "/src/styles.scss" as *;

.article-type1 {
    //position:relative;
    height:700px;


    img {
        width:1050px;
    }

    .blur {
    position: relative;
    width: 1050px;
    height: 150px;
    left: 0px;
    bottom: 170px;

    backdrop-filter: blur(9.5px);

    .description {
        margin-left:1rem;
        h2 {
            color:$category-health-color;
            font-weight: normal;
        }
    
        h4,h6 {
            color:#FECEE9;
            font-weight: normal;
            
        }
    }

    }
  
 
}