<section id="sugar-meter">

  <div id="meter-description">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="meter-description-title">
          Voici votre Sucromètre personnalisé ! &nbsp;
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="meter-description-text">&nbsp;L'OMS recommande que les sucres libres ne représentent pas plus de 10%
        de l'apport énergétique
        quotidien, même si
        idéalement il conviendrait de réduire les surcres libres à 5% de l'apport énergétique total.
        <br>&nbsp;Cela signifie donc que:
        <br>- Les adultes ne devraient pas consommer plus de 30g de sucres libres par jour (soit 7 morceaux de sucres)
        <br>- Les enfants de 7 à 10 ans ne devraient pas consommer plus de 24g de sucres libres par jour (soit 6
        morceaux
        de sucres)
        <br>- Les enfants de 4 à 6 ans ne devraient pas consommer plus de 19g de sucres libres par jour (soit 5 morceaux
        de sucres)
        <br><span>Ainsi, notre Sucromètre vous permet de savoir si vous avez dépassé votre quota de sucres libres
          journalier !</span>
      </p>
    </mat-expansion-panel>
  </div>

  <mat-tab-group class="connection-group">
    <mat-tab *ngFor="let profile of profiles">

      <ng-template mat-tab-label class="meter-tab">
        <mat-icon class="example-tab-icon svg-{{profile.logo}}"></mat-icon>
        &nbsp;{{profile.name}}
      </ng-template>

      <app-profiles [profile]="profile" (profilesUpdated)="onProfilesUpdated($event)"></app-profiles>

    </mat-tab>
  </mat-tab-group>

  <div class="profile-creation">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Créer un nouveau Profil :</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="profileCreationForm" [formGroup]="profileCreationForm"
        (ngSubmit)="profileCreationForm.valid && onSubmit()">

        <label>Nom
          <input type="text" formControlName="name"></label>

        <label>Date de naissance
          <input type="date" formControlName="birthDate"></label>

        <label>Icone
          <div *ngFor="let logo of logos">
            <label>
              <input type="radio" [value]="logo.value" formControlName="logo">
              <div class="example-tab-icon svg-{{logo.value}}"></div>
            </label>
          </div>
        </label>

        <button [disabled]="!profileCreationForm.valid" type="submit">Valider</button>

      </form>
    </mat-expansion-panel>
  </div>
</section>