<section id="sugar-meter">

  <div id="meter-description">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="meter-description-title">
          Voici votre Sucromètre personnalisé ! &nbsp;
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="meter-description-text">L'OMS recommande que les sucres libres ne représentent pas plus de 10%
        de l'apport énergétique quotidien, même si idéalement il conviendrait de réduire les sucres libres à 5% de l'apport énergétique total.<br>
        <br>Cela signifie donc que:
        <br> • Les adultes ne devraient pas consommer plus de 30g de sucres libres par jour (soit 7 morceaux de sucres)
        <br> • Les enfants de 7 à 10 ans ne devraient pas consommer plus de 24g de sucres libres par jour (soit 6
        morceaux
        de sucres)
        <br> • Les enfants de 4 à 6 ans ne devraient pas consommer plus de 19g de sucres libres par jour (soit 5 morceaux
        de sucres) <br>
        <br><span>Ainsi, notre Sucromètre vous permet de savoir si vous avez dépassé votre quota de sucres libres
          journalier !</span>
      </p>
    </mat-expansion-panel>
  </div>

  <mat-tab-group class="connection-group">
    <mat-tab *ngFor="let profile of profiles">

      <ng-template mat-tab-label class="meter-tab">
        <mat-icon class="example-tab-icon svg-{{profile.logo}}"></mat-icon>
        &nbsp;{{profile.name}}
      </ng-template>

      <app-profiles [profile]="profile" (profilesUpdated)="onProfilesUpdated($event)"></app-profiles>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="meter-tab">
        <i class="fa fa-plus"></i>&nbsp;Nouveau profil
      </ng-template>
      <form class="form-border" [formGroup]="profileCreationForm" (ngSubmit)="profileCreationForm.valid && onSubmit()">

        <div class="input-container">
          <label>Nom</label>
          <input type="text" formControlName="name">
        </div>

        <div class="input-container sugar-meter-date">
          <label>Date de naissance</label>
          <mat-form-field>
            <input formControlName="birthDate" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="input-container icone-create">
          <label>Icône
          </label>
          <div class="logo-list">
            <div *ngFor="let logo of logos" (click)="selectLogo(logo)">
              <label class="logo-option" [ngClass]="{'selected': isSelected(logo.value)}">
                <input type="radio" [value]="logo.value" formControlName="logo" placeholder="">
                <div class="example-tab-icon svg-{{logo.value}}"></div>
              </label>
            </div>
          </div>
        </div>

        <div class="button-profile">
          <button [disabled]="!profileCreationForm.valid" type="submit">Valider</button>
        </div>

      </form>
    </mat-tab>
  </mat-tab-group>
</section>