@use "/src/_import.scss" as *;

#sugar-meter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $small-border;
  padding-top: 0;

  #meter-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $big-border;
    overflow: hidden;
    transition: 1s;

    h1 {
      z-index: 2;
      background-color: white;
      color: $fairy-color;
      text-align: center;
      font-size: 1.9rem;
      font-family: "Glam-queen";
      width: 100%;
      border-bottom: 2px solid $secondary-text-color;
    }

    p {
      z-index: 1;
      color: $secondary-text-color;
      padding: $small-border;
      margin-left: $small-border;
      margin-right: $small-border;
      border: 1px solid $secondary-text-color;
      border-top: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: 1s;

      // span:nth-of-type(1),
      // span:nth-of-type(2) {
      //   margin-left: $main-border;
      // }

      // span:nth-of-type(3) {
      //   text-align: center;
      // }
    }
  }

  // mat-tab-group {
  //   mat-tab {
  //     .meter-tab {
  //       color: $secondary-text-color;
  //     }

  //     .mdc-tab__text-label {
  //       color: $fairy-color;

  //       &:active {
  //         color: $secondary-text-color;
  //       }

  //       .exemple-tab-icon {
  //         margin-right: $small-border;
  //       }
  //     }
  //   }
  // }

  .profile-creation {}
}

@media only screen and (min-width: $min-width-desktop) and (max-width: 1024px) {
  #sugar-meter {

    #meter-description {

      h1 {
        font-size: 2.8rem;
      }

      p {}
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #sugar-meter {
    #meter-description {
      h1 {
        cursor: pointer;
        font-size: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
      }

      p {
        margin-left: $big-border;
        margin-right: $big-border;
      }
    }
  }
}