@use "/src/_import.scss" as *;

#sugar-meter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $small-border;
  

  #meter-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $small-border;
    transition: 1s;
    color: $secondary-text-color;

    .meter-description-title {
      text-align: center;
      font-size: 1.5rem;
      font-family: "Glam-queen";
      width: 100%;
    }

    p {
      text-align: left;
      padding: $small-border;
      margin-left: $small-border;
      margin-right: $small-border;
      border: 1px solid $secondary-text-color;
      border-top: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .profile-creation {
    margin-top: $main-border;

    h2 {
      text-align: center;
      font-size: 1rem;
      color: $secondary-text-color;
      padding-top: $main-border;
      padding-bottom: $main-border;
    }

    .profileCreationForm {
      color: $secondary-text-color;

      label {

        input {}
      }
    }
  }

    .example-tab-icon {
      width: 40px;
      height: 40px;
      background-color: $secondary-text-color;
    }

  .connection-group {
    padding-bottom: $main-border;
  }

  .logo-list {
    display: flex;
    align-items: center;
  }

  .logo-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    div {
      opacity: 0.3;
    }
  }
  
  .logo-option input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .input-container {
    padding-top: $main-border;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: 700;
    padding-bottom: $small-border;
    text-align: center;
    
    span {
        color:$fairy-color;
    }
  }
  input {
    display: block;
    height: auto;
    width: 100%;
    padding: $small-border;
    border-radius: 0.3em;
    border: 1px solid $secondary-text-color;
    background-color: white;
    line-height: 1.3;
    color: $secondary-text-color;
    box-shadow: none;
    transition: border-color .2s;
  }
  
  .logo-option.selected div {
      opacity: 1;
  }
  
  .button-profile {
    display: flex;
    justify-content: center;
    margin-top: $main-border;
    button {
      @include buttons;
    }
  }
}

@media only screen and (min-width: $min-width-desktop) and (orientation: landscape) {
  #sugar-meter {
    .form-border {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $big-border;
      .icone-create {
        grid-column: 1/3;
      }
      .button-profile {
        grid-column: 1/3;
      }
    }
    #meter-description {
      h1 {
        cursor: pointer;
        font-size: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
      }

      .meter-description-title {
        font-size: 2.5rem;
      }

      p {
        margin-left: $big-border;
        margin-right: $big-border;
      }
    }
  }
}
