$main-background-color: #fff;
$secondary-background-color: #EEEEEE;

$main-text-color: #000;
$secondary-text-color: #410B13;
$fairy-color: #FECEE9;

$main-line-height: 1.5rem;

$category-un-color: #5D2B7D; // Catégorie unknown : pas encore trouvé
$category-fun-color: #A72D89; // Catégorie Fun : a trouvé
$category-sport-color: #1474BB; // Catégorie Sport : a trouvé
$category-health-color: #8FC33E; // Catégorie Santé : carie
$category-food-color: #F1BE02; // Catégorie Nouriture : miam
$category-economy-color: #E41E26; // Catégorie Economie : ça coute bonbon

$main-border: 1rem;
$small-border: 0.5rem;
$big-border: 2rem;

$min-width-desktop: 800px;


@mixin buttons {
  color: $secondary-text-color;
  background-color: white;
  padding: $main-border;
  border: solid 1px $fairy-color;
  border-radius: $big-border;
  cursor: pointer;
  height: 50px;
  width: max-content;
}

::ng-deep .mdc-tab--active .mdc-tab__text-label {
  color: $secondary-text-color !important;
}

::ng-deep .mdc-tab--active .mdc-tab-indicator .mdc-tab-indicator__content {
  border-color: $secondary-text-color;
}


.un-color {
  color: $category-un-color;
}

.fun-color {
  color: $category-fun-color;
}

.sport-color {
  color: $category-sport-color;
}

.carie-color {
  color: $category-health-color;
}

.miam-color {
  color: $category-food-color;
}

.ca-coute-bonbon-color {
  color: $category-economy-color;
}

.fun-background {
  background-color: $category-fun-color;
}

.sport-background {
  background-color: $category-sport-color;
}

.carie-background {
  background-color: $category-health-color;
}

.miam-background {
  background-color: $category-food-color;
}

.ca-coute-bonbon-background {
  background-color: $category-economy-color;
}

.fun-border-left {
  border-left: 5px solid $category-fun-color;
}

.sport-border-left {
  border-left: 5px solid $category-sport-color;
}

.carie-border-left {
  border-left: 5px solid $category-health-color;
}

.miam-border-left {
  border-left: 5px solid $category-food-color;
}

.ca-coute-bonbon-border-left {
  border-left: 5px solid $category-economy-color;
}