@use "/src/_import.scss" as *;

#sugar-meter .mat-expansion-panel {
  box-shadow: none !important;
}

#sugar-meter #meter-description .mat-expansion-panel-header {
  border-bottom: 2px solid $secondary-text-color;
  border-radius: 0;
  display: flex;
  justify-content: center;
  height: min-content;
}

#sugar-meter .mat-focus-indicator {
  height: min-content;
}

#sugar-meter .mat-expansion-panel-title {
  margin: 0;
}

#sugar-meter .mat-content {
  flex: none;
}

.delete-box .mat-expansion-panel {
  box-shadow: none !important;
  order: 2;
  width: max-content;
}

.delete-box .mat-expansion-panel:active {
  background-color: none;
}

.delete-box .mat-expansion-panel-header {
  font-size: 0.8rem;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 48px;
}

.delete-box .mat-focus-indicator {
  height: 48px !important;
}

.delete-box .mat-expansion-panel .mat-expansion-panel-header-title {
  color: #ff0000b0;
  margin: 0;
}

.delete-box .mat-expansion-panel-body {
  display: block;
  text-align: center;
}

.delete-box .mat-content {
  flex: none;
}

.delete-box .mat-expansion-indicator {
  display: none;
}