/* You can add global styles to this file, and also import other style files */
@use "/src/_import.scss" as *;
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: "Mermaid-babies";
  src: url("./assets/fonts/MermaidBabies.woff2");
}

@font-face {
  font-family: "Glam-queen";
  src: url("./assets/fonts/Glam_Queen.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  #page-content {
    width: 70%;
    /* Set the width to 60% of the screen */
    max-width: 71em;
    /* Optional: Set a maximum width for larger screens */
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: $main-background-color;
    box-shadow: 0.75rem 0 0 $secondary-background-color, -0.75rem 0 0 $secondary-background-color;
    overflow: initial;
    margin: 0 auto;
    /* Center the element horizontally */
  }

  #page-wrap {
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    background-color: $secondary-background-color;
  }
}

/* Temporary before the content get change */
h2.h2-title-article-food {
  font-size: 1.5rem;
  margin-bottom: $small-border;
  color: $category-food-color;
}

p.p-article-food {
  line-height: 1.5;
  margin-bottom: $small-border;
  margin-top: $small-border;
}

ol.ol-article-food {
  list-style: none;
}

li.li-article-food {
  margin-top: $small-border;
  margin-bottom: $big-border;
  padding-left: $big-border;
}

h2.h2-title-article-carie {
  font-size: 1.5rem;
  margin-bottom: $small-border;
  color: $category-health-color;
}

p.p-article-carie {
  line-height: 1.5;
  margin-bottom: $small-border;
  margin-top: $small-border;
}

ol.ol-article-carie {
  list-style: none;
}

li.li-article-carie {
  margin-top: $small-border;
  margin-bottom: $big-border;
  padding-left: $big-border;
}


h2.h2-title-article-sport {
  font-size: 1.5rem;
  margin-bottom: $small-border;
  color: $category-sport-color;
}

p.p-article-sport {
  line-height: 1.5;
  margin-bottom: $small-border;
  margin-top: $small-border;
}

ol.ol-article-sport {
  list-style: none;
}

li.li-article-sport {
  margin-top: $small-border;
  margin-bottom: $big-border;
  padding-left: $big-border;
}