<div class="article-creation">
    <div class="infos">
        <div class="checkbox">
            <input type="checkbox" name="main" [(ngModel)]="article.isMain">
            <label for="main">Article Principal</label>
        </div>
        <div class="fields-container">
            <h1>Titre</h1>
            <input type="text" class="text" placeholder="Titre" [(ngModel)]="article.title">
            <h1>Chapeau</h1>
            <input type="text" class="text" placeholder="Chapeau" [(ngModel)]="article.leads">
            <h1>URL de l'image</h1>
            <input type="text" class="text" placeholder="URL de l'image" [(ngModel)]="article.publicationImage">
            <div class="img" [ngStyle]="{ 'background-image': 'url(' + article.publicationImage + ')'}"></div>
            <div>
                <label for="categories" class="categories">Catégorie : </label>
                <select [(ngModel)]="article.category">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div *ngFor="let subsection of subsections; let index = index">
        <app-sub-section [subsections]="subsections" [subsection]="subsection" [index]="index"></app-sub-section>
    </div>
    <div class="button">
        <button (click)="onSubmit()">Enregistrer</button>
    </div>
</div>