<article class="main-type3" [routerLink]="APP_ROUTES.articles+'/'+article.slug" [queryParams]="{id: article.id}">
    <img src={{article.publication_image}}>
    <div [ngClass]="'description '+article.categories[0].slug+'-background'">
        <div class="titles">
            <h4 [ngClass]="article.categories[0].slug+'-color'"><span>{{article.categories[0].name}}</span></h4>
            <h3>{{article.title}}</h3>
            <time>{{article.publication_date | date : 'dd/M/yy' }}</time>
        </div>
    </div>
</article>
