@use "/src/_import.scss" as *;

@media (max-width: $min-width-desktop) {

  .main-type3 {

    img {
      width: 100%;
    }

    .description {
      box-sizing: border-box;
      min-height: 106px;
      bottom: 109px;
      position: relative;
      object-position: left bottom;
      padding-left: .5rem;
      opacity: 0.7;

      .titles {
        padding-top: 1px;

        h4,
        h3 {
          margin: 0px;
        }

        h4 {
          margin-top: 0.5rem;
          padding-left: 0.3rem;

          span {
            padding: 2px;
            background-color: $secondary-text-color;
          }
        }

        h3 {
          font-weight: 500;
          font-size: 0.9rem;
          height: 50px;
          margin-top: 0.5rem;
        }

        time {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: $min-width-desktop) {

  .main-type3 {

    img {
      height: 300px;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .description {
      box-sizing: border-box;
      min-height: 106px;
      bottom: 110px;
      position: relative;
      object-position: left bottom;
      padding-left: .5rem;
      opacity: 0.7;

      .titles {
        padding-top: 1px;

        h4,
        h3 {
          margin: 0px;
        }

        h4 {
          margin-top: 0.5rem;
          padding-left: 0.3rem;

          span {
            padding: 2px;
            background-color: $secondary-text-color;
          }
        }

        h3 {
          font-weight: 500;
          font-size: 0.9rem;
          height: 50px;
          margin-top: 0.5rem;
        }

        time {
          font-size: 0.8rem;
        }
      }
    }
  }
}