@use "/src/_import.scss" as *;


[class$="introduction"]+p {
    font-weight: bold;
    font-style: italic;

}

[class$="conclusion"]+p {
    font-weight: bolder;
}

h4+p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}