@use "/src/_import.scss" as *;

.introduction {
    margin-bottom: $main-border;
    p {
        font-weight: bold;
        font-style: italic;
    }
}

.conclusion {
    p {
        font-weight: bolder;
    }
}

h4+p {
    margin-top: $small-border;
    margin-bottom: $main-border;

}