@use "/src/_import.scss" as *;

.introduction {
    margin-bottom: $main-border;
    line-height: $main-line-height;

    p {
        // font-weight: bold;
        font-style: italic;
    }
}

.conclusion {
    p {
        font-weight: bolder;
        line-height: $main-line-height;
    }
}

h4{
    font-size: $main-border;
}

h4+p {
    margin-top: $small-border;
    margin-bottom: $main-border;
    line-height: $main-line-height;
}