<div *ngIf="stock" id="stock" class="mobile">
    <div class="container">
        <div class="middle">
            <div class="name">{{stock.name}}</div>
            <div class="value">{{stock.data[0].value | number : '1.2-2' | currency}}</div>
        </div>
        <div class="changes" [class.red]="stock.percent < 0" [class.green]="stock.percent > 0">
            <div>{{stock.data[0].value | percentChange:stock.data[1].value}}</div>
            <div>{{stock.data[0].value - stock.data[1].value | addPlus }}</div>
        </div>
        <div class="arrow">
            <span *ngIf="stock.percent > 0" class="green green-bg"><i class="fa-solid fa-arrow-up"></i></span>
            <span *ngIf="stock.percent == 0"><i class="fa-solid fa-arrow-right"></i></span>
            <span *ngIf="stock.percent < 0" class="red red-bg"><i class="fa-solid fa-arrow-down"></i></span>
        </div>
    </div>
</div>
<div *ngIf="stock" id="stock" class="desktop">
    <div class="container">
        <div class="arrow">
            <span *ngIf="stock.percent > 0" class="green green-bg"><i class="fa-solid fa-arrow-up"></i></span>
            <span *ngIf="stock.percent == 0"><i class="fa-solid fa-arrow-right"></i></span>
            <span *ngIf="stock.percent < 0" class="red red-bg"><i class="fa-solid fa-arrow-down"></i></span>
        </div>
        <div class="middle">
            <div class="name">{{stock.name}}</div>
            <div class="value">{{stock.data[0].value | number : '1.2-2' | currency}}</div>
        </div>
        <div class="changes" [class.red]="stock.percent < 0" [class.green]="stock.percent > 0">
            <div>{{stock.data[0].value | percentChange:stock.data[1].value}}</div>
            <div>{{stock.data[0].value - stock.data[1].value | addPlus }}</div>
        </div>
    </div>
</div>